name: WorkFlow

on:  
  push:
    branches:
      - feature-andres

jobs:
  SAST:
    runs-on: ubuntu-latest

    steps:
      
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

    
      - name: Checkout code
        uses: actions/checkout@v2

    
      - name: Build
        run: |
          chmod 777 gradlew
          ./gradlew build
