name: WorkFlow

on:  
  push:
    branches:
      - main

jobs:
  SAST:
    runs-on: ubuntu-latest

    steps:
      # Paso 1: Configurar JDK 17
      - name: Set up JDK 17 
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      # Paso 2: Descargar el código del repositorio
      - name: Checkout code
        uses: actions/checkout@v2

      # Paso 3: Instalar SonarScanner de Gradle
      - name: Install SonarScanner for Gradle
        run: ./gradlew wrapper --gradle-version 7.4.2

      # Paso 4: Configurar variables de entorno de SonarCloud
      - name: Set environment variables
        run: echo "SONAR_TOKEN=${{ secrets.SONAR_TOKEN }}" >> $GITHUB_ENV

      # Paso 5: Construir y analizar el proyecto con SonarCloud
      - name: SonarCloud Scan
        run: ./gradlew sonarqube -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # Paso 6: Análisis SCA con OWASP Dependency-Check
      - name: Dependency-Check Scan
        uses: actions/owasp-dependency-check@v4.1.2
        with:
          output-directory: './dependency-check-report'
          format: 'ALL'
          scan-path: '.'

      # Paso 7: Subir reporte como artefacto
      - name: Upload Dependency-Check Report
        uses: actions/upload-artifact@v3
        with:
          name: dependency-check-report
          path: './dependency-check-report'

      # Paso 8: OWASP Dependency Track Check
      - name: OWASP Dependency Track check
        uses: Quobis/action-owasp-dependecy-track-check@v1.3.1
        with:
          server-url: ${{ secrets.DEPENDENCY_TRACK_SERVER_URL }}
          api-key: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          project-name: "NombreDelProyecto"

