name: WorkFlow
on:  
  push:
    - main

jobs:
  SAST:
    runs-on: ubuntu-latest
    steps:

    - name: set up JDK 17
      users: action/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

      name: Checkout code
      users: action/chekout@v2
    
